@model SeminarskaNaloga.Models.Racun

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Racun</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kolicina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kolicina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.postnina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.postnina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uporabnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uporabnik.UporabnikId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Narocilo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Narocilo.NarociloId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RacunId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
